
<div class="page-container-form">
  <div class="form-container">

    <div class="form-header">
      <h3>New Invoice</h3>
      <%= link_to '', invoices_path, class:'fas fa-times exit-form-button' %>
    </div>

    <%= render 'form', invoice: @invoice %>

  </div>
</div>
